/* *{
    font-family: 'Nunito', sans-serif;
} */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    /* height:60px; */
    box-shadow: 0 0 5px #333;
    margin: 0;
    padding: 0;
    position: fixed;
    top:0; left: 0; right:0;
    z-index: 1000;
    background-color: #fff;
}

.navbar .navbar-brand{
    flex: 1;
}

.navbar .navbar-search{
    flex: 2;
}

.navbar .navbar-user{
    flex: 1;
}

.navbar .navbar-brand > img{
    height: 60px;
}

.navbar .navbar-user img{
    width:50px;
    height:50px;
    object-fit: cover;
    border-radius: 50%;
}

.navbar .navbar-search{
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 60px;
}

.navbar .navbar-search input{
    border: none;
    outline: none;
}

.navbar .navbar-search button{
    /* border: none; */
    border-radius:50%
}